.footer-div{
    background-color: #343A40;
    height: 100px;
    color: snow;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 40px;
}
  /* Responsive */
  @media screen and (max-width: 600px) {
    .footer-div{
        height: 50px;
        color: snow;
        font-size: 12px;
        text-align: center;
        padding-top: 16px;
        word-break: break-all;
    }
    .footer-div p{
        word-break: normal;
    }
  }